html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
.body {
  font-family: "Lato";
  font-style: normal;
  font-size: 16px;
  line-height: 1.2;
  font-weight: normal;
  color: #102746;
}

.header {
}

.navigation_list {
  display: flex;
  list-style: none;
}

.navigation_item {
  margin-right: 20px;
}

.avatar {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 50%;
}

.rslogo {
  width: 150px;
  height: auto;
}
